@import url(style.css);
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.box {
  height: 100%;
  overflow: hidden;
}

.box .contop {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  height: 65px;
}

.box .contop button {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  outline: none;
  background: #19a97b;
}

.box .contop .contop_r {
  float: right;
  margin-right: 26px;
}

.box .contop .contop_r button {
  background-color: #dbac72;
}

.box .contop .searchbox {
  float: left;
  height: 30px;
  text-align: center;
  margin-left: 12px;
}

.box .contop .searchbox .tip, .box .contop .searchbox span, .box .contop .searchbox button {
  margin: 0 10px;
  line-height: 28px;
  height: 28px;
  float: left;
}

.box .contop .searchbox span {
  display: block;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.box .contop .searchbox span input {
  border: 0;
  outline: none;
}

.box .contop .addprodut {
  display: none;
  left: 50px;
  width: 710px;
  height: 514px;
  overflow-y: auto;
  background-color: white;
  border: 2px solid #19a97b;
  position: absolute;
  border-radius: 8px;
}

.box .contop .addprodut h2 strong {
  margin-left: 10px;
}

.box .contop .addprodut h2 .close_add {
  float: right;
  margin-right: 16px;
  font-size: 22px;
  background: #57b194;
}

.box .contop .addprodut h2 .close_add :hover {
  background: #19a97b;
}

.box .contop .addprodut ul li .select {
  padding: 0 20px;
}

.box .contop .addprodut ul li .select option {
  height: 16px;
  line-height: 16px;
}

.box .contop .addprodut ul li .item_name {
  float: left;
}

.box .contop .addprodut ul li .input_img {
  float: left;
  width: 320px;
}

.box .contop .addprodut ul li .link_btn {
  margin-left: 122px;
}

.box .goodsbox {
  padding: 10px 15px;
  height: 520px;
  position: relative;
}

.box .goodsbox .modifyprodut {
  position: absolute;
  left: 50px;
  width: 710px;
  height: 514px;
  overflow-y: auto;
  background-color: white;
  border: 2px solid #19a97b;
  border-radius: 8px;
}

.box .goodsbox .modifyprodut h2 .close_modify {
  float: right;
  border: 0;
  color: #fff;
  margin-right: 16px;
  border-radius: 8%;
  font-size: 22px;
  background: #57b194;
}

.box .goodsbox .modifyprodut h2 .close_modify :hover {
  background: #19a97b;
}

.box .goodsbox table {
  width: 100%;
  height: 490px;
  margin-top: 10px;
  border-collapse: collapse;
}

.box .goodsbox table thead {
  display: block;
}

.box .goodsbox table thead tr {
  height: 40px;
  background-color: #eee;
  line-height: 40px;
  text-align: center;
}

.box .goodsbox table thead tr th {
  word-wrap: break-word;
  overflow: hidden;
}

.box .goodsbox table tr :nth-child(1) {
  width: 100px;
}

.box .goodsbox table tr :nth-child(2) {
  width: 153px;
}

.box .goodsbox table tr :nth-child(3) {
  overflow: hidden;
  width: 376px;
}

.box .goodsbox table tr :nth-child(4), .box .goodsbox table tr :nth-child(5), .box .goodsbox table tr :nth-child(6) {
  width: 137px;
}

.box .goodsbox table tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  height: 450px;
}

.box .goodsbox table tbody ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
}

.box .goodsbox table tbody tr {
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #ccc;
}

.box .goodsbox table tbody tr :nth-child(2) img {
  display: inline-block;
  width: 40px;
  height: 45px;
  border-radius: 8%;
}

.box .goodsbox table tbody tr td:nth-child(5) {
  line-height: 27px;
}

.box .goodsbox table tbody tr a:hover {
  color: #dbac72;
}

.order_box {
  height: 100%;
  overflow: hidden;
}

.order_box .contop {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  height: 65px;
}

.order_box .contop button {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  outline: none;
  background: #19a97b;
}

.order_box .contop .contop_r {
  float: right;
  margin-right: 26px;
}

.order_box .contop .contop_r button {
  background-color: #dbac72;
}

.order_box .contop .searchbox {
  float: left;
  height: 30px;
  text-align: center;
  margin-left: 12px;
}

.order_box .contop .searchbox .tip, .order_box .contop .searchbox span, .order_box .contop .searchbox button {
  margin: 0 10px;
  line-height: 28px;
  height: 28px;
  float: left;
}

.order_box .contop .searchbox span {
  display: block;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.order_box .contop .searchbox span input {
  border: 0;
  outline: none;
}

.order_box .order_outbox {
  padding: 10px 15px;
  height: 520px;
}

.order_box .order_outbox table {
  width: 100%;
  height: 490px;
  margin-top: 10px;
  border-collapse: collapse;
}

.order_box .order_outbox table thead tr {
  width: 1040px;
  height: 40px;
  background-color: #eee;
  line-height: 40px;
  text-align: center;
}

.order_box .order_outbox table thead tr :nth-child(3) {
  width: 125px;
}

.order_box .order_outbox table thead tr th {
  width: 130px;
  word-wrap: break-word;
}

.order_box .order_outbox table tbody {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  height: 450px;
}

.order_box .order_outbox table tbody ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
}

.order_box .order_outbox table tbody tr {
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #ccc;
}

.order_box .order_outbox table tbody tr td {
  height: 55px;
  overflow: hidden;
}

.order_box .order_outbox table tbody tr :nth-child(3) {
  width: 125px;
  color: #dbac72;
}

.order_box .order_outbox table tbody tr a:hover {
  color: #dbac72;
}
