@import 'style.css';
@import 'order.css';
$e:#dbac72;
$b:#f2f2f2;
$t:#9b4802;
$a:#19a97b;

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.box{
	height:100%;
	overflow:hidden;
	.contop{
		position:relative;
		padding-top:24px;
		width:100%;
		border-bottom:1px solid $b;
		height:41px;
		button{
			height:30px;
			padding:0 10px;
			border-radius:4px;
			border:0;
			color:#fff;
			outline:none;
			background:$a;
		}
		.contop_r{
			float:right;
			margin-right:26px;
			button{
				background-color:$e;
			}
		}
		.searchbox{
			float:left;
			height:30px;
			text-align:center;
			margin-left:12px;
			.tip,span,button{
				margin:0 10px;
				line-height:28px;
				height:28px;
				float:left;
			}
			span{
				display:block;
				height:30px;
				border:1px solid $b;
				border-radius:4px;
				input{
					border:0;
					outline:none;
				}
			}
		}
		.addprodut{
			display:none;
			left:50px;
			width:710px;
			height:514px;
			overflow-y:auto;
			background-color:rgba(255,255,255,1);
			border:2px solid $a;
			position:absolute;
			z-index:10;
			border-radius:8px;
			h2{
				strong{
					margin-left:10px;
				}
				.close_add{
					float:right;
					margin-right:16px;
					font-size:22px;
					background:#57b194;
					:hover{
						background:$a;
					}
				}
			}
			ul{
				li{
					.checkbox{
						margin-left:120px;
						width:520px;
						label{
							margin-right:10px;
							line-height:22px;
						}
					}
					.select{	
						// width:60px;
						padding:0 20px;
						option{
							height:16px;
							line-height:16px;
						}
					}
					.item_name{
						float:left;
					}
					.input_img{
						float:left;
						width:320px;
					}
					.link_btn{
						margin-left:122px;
					}
				}
			}			
		}
	}
	.goodsbox{
		padding:10px 15px;
		height:520px;
		position:relative;
		.modifyprodut{
			z-index:24;
			display:none;
			position:absolute;
			left:50px;
			width:710px;
			height:514px;
			overflow-y:auto;
			background-color:rgba(255,255,255,1);
			border:2px solid $a;
			border-radius:8px;
			h2{
				.close_modify{
					float:right;
					border:0;
					color:#fff;
					margin-right:16px;
					border-radius:8%;
					font-size:22px;
					background:#57b194;
					:hover{
						background:$a;
					}
				}
			}
			ul{
				li{
					.checkbox{
						margin-left:120px;
						width:520px;
						label{
							margin-right:10px;
							line-height:22px;
						}
					}
					.select{	
						// width:60px;
						padding:0 20px;
						option{
							height:16px;
							line-height:16px;
						}
					}
					.item_name{
						float:left;
					}
					.input_img{
						float:left;
						width:320px;
					}
					.modify_link_btn{
						margin-left:122px;
					}
				}
			}
		}
		table{	
			width:100%;
			height:490px;
			margin-top:10px;
			border-collapse: collapse;
			thead{
				display:block;
				tr{
					height:40px;
					background-color:#eee;
					line-height:40px;
					text-align: center;
					th{
					    word-wrap: break-word;
						overflow: hidden;
					}
				}
			}
			tr{
				:nth-child(1){
					width:100px;
				}
				:nth-child(2){
					width:153px;
				}
				:nth-child(3){
					overflow:hidden;
					width:376px;
				}
				:nth-child(4),:nth-child(5),:nth-child(6){
					width:137px;
				}
			}
			tbody{
				display:block;
				width:100%;
				overflow-y:auto;
				overflow-x:hidden;
				text-align:center;
				height:450px;
				::-webkit-scrollbar{
				    width: 16px;
				    height: 16px;
				    background-color: #f5f5f5;
				}
				tr{

					height:55px;
					line-height:55px;
					:nth-child(2){
						img{
							display:inline-block;
							width:40px;
							height:45px;
							border-radius:8%;
						}
					}
					border-bottom:1px solid #ccc;
					td:nth-child(5){
						line-height:27px;
					}
					// span{
					// 	color:$a;
					// 	cursor:potiner;
					// }
					a:hover{
						color:$e;
					}
				}
			}	
		}		
	}
}
