@charset "UTF-8";
.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  content: "";
  visibility: hidden;
  clear: both;
  height: 0;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #dbac72;
  font-size: 12px;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container .category {
  position: fixed;
  width: 70%;
  top: 0;
  bottom: 0;
  left: -888px;
  background: #fefef4;
  z-index: 10000;
  /* opacity:0;*/
  display: none;
}

#container .category img {
  border: 0;
  vertical-align: bottom;
  width: 100%;
  height: 11.4375rem;
}

#container .category ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 11.4375rem;
  overflow: scroll;
  overflow-x: hidden;
}

#container .category a {
  display: block;
  position: relative;
  padding: 0.9375rem;
  border-bottom: 1px solid #f2f2f2;
  color: #9b4802;
}

#container .show {
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .5;
  z-index: 10;
  display: none;
}

#container .contact {
  position: fixed;
  width: 60%;
  height: 12%;
  background: #fff;
  opacity: 1;
  z-index: 100;
  left: 20%;
  top: 40%;
}

#container .contact div {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
}

#container .contact div:nth-of-type(1) {
  border: 1px solid #eee;
}

#container main {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

#container main .swiper-container {
  width: 100%;
}

#container main .swiper-container img {
  width: 100%;
}

#container main .search {
  display: flex;
  height: 51px;
  text-align: center;
  background: #fffff0;
  color: #dbac72;
  border-bottom: 1px solid #efefdf;
}

#container main .search .left {
  padding: 5px 10px 0 10px;
}

#container main .search .left i {
  font-size: 12px;
}

#container main .search .left span {
  font-size: 12px;
}

#container main .search .center {
  flex: 1;
  display: flex;
  padding-top: 14px;
  position: relative;
}

#container main .search .center input {
  flex: 1;
  height: 24px;
  background-color: #fae8d3;
  border: 0;
  outline: none;
  border-radius: 10px;
}

#container main .search .center img {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 25px;
}

#container main .search .right {
  padding: 0 10px;
  line-height: 51px;
}

#container main .search .right i {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  line-height: 24px;
  background-color: #fae8d3;
}

#container main .hotlist h1 {
  height: 47px;
  margin: 0;
  line-height: 47px;
  font-size: 14px;
  font-family: "宋体";
  line-height: 47px;
  text-align: center;
  color: #dbac72;
  margin-bottom: 10px;
}

#container main .hotlist > .hotCake li {
  width: 48%;
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}

#container main .hotlist > .hotCake li a h4 {
  font-weight: normal;
  text-align: center;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

#container main .hotlist > .hotCake li a img {
  width: 100%;
}

#container main .navlink {
  margin-top: 10px;
  width: 100%;
  height: 128px;
  background: #fffff0;
  font-size: 10px;
  color: #dbac72;
  text-align: center;
}

#container main .navlink ul {
  padding: 20px 0;
}

#container main .navlink ul li {
  display: inline-block;
  padding: 0  5px;
}

#container main .navlink ul li a {
  border-right: 1px solid #dbac72;
  padding-right: 10px;
}

#container main .navlink ul li:nth-last-child(1) a {
  border-right: 0;
}

#container footer {
  height: 51px;
  background: #fff;
}

#container footer ul {
  height: 51px;
  display: flex;
  text-align: center;
  margin: 5px 0;
}

#container footer ul li {
  flex: 1;
}
