body, html {
  height: 100%;
  background: #fffff0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: #dbac72;
  font-size: 12px;
}

ul {
  list-style: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  content: "";
  visibility: hidden;
  clear: both;
  height: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container header h4 {
  height: 44px;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background: #dbac72;
  line-height: 44px;
}

#container header h4 span {
  position: absolute;
  left: 10px;
  line-height: 44px;
  font-size: 20px;
  font-weight: bold;
}

#container header ul {
  display: flex;
  height: 38px;
  background-color: #fff;
}

#container header ul li {
  flex: 1;
  text-align: center;
  color: #dbac72;
  font-size: 12px;
  line-height: 38px;
}

#container header ul li.active {
  border-bottom: 2px solid #aa0000;
  color: #aa0000;
}

#container main {
  flex: 1;
  overflow-y: auto;
}

#container main .orMsgList li, #container main .orthers li {
  margin-top: 10px;
  background-color: #fff;
}

#container main .orMsgList li > p, #container main .orthers li > p {
  position: relative;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  color: #dbac72;
  border-bottom: 1px solid #eee;
}

#container main .orMsgList li > p .orStatus, #container main .orthers li > p .orStatus {
  position: absolute;
  color: #aa0000;
  right: 10px;
}

#container main .orMsgList li .or_up, #container main .orthers li .or_up {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

#container main .orMsgList li .or_up .or_up_left, #container main .orthers li .or_up .or_up_left {
  float: left;
  width: 25%;
}

#container main .orMsgList li .or_up .or_up_left img, #container main .orthers li .or_up .or_up_left img {
  width: 100%;
}

#container main .orMsgList li .or_up .or_up_right, #container main .orthers li .or_up .or_up_right {
  float: left;
  width: 65%;
  padding-left: 10px;
  font-size: 14px;
  color: #dbac72;
}

#container main .orMsgList li .or_up .or_up_right .goodsnorms, #container main .orthers li .or_up .or_up_right .goodsnorms {
  color: #dbac72;
  line-height: 30px;
  font-size: 12px;
}

#container main .orMsgList li .or_up .or_up_right .qty_price, #container main .orthers li .or_up .or_up_right .qty_price {
  position: relative;
  padding-top: 10%;
}

#container main .orMsgList li .or_up .or_up_right .qty_price .goodsprice, #container main .orthers li .or_up .or_up_right .qty_price .goodsprice {
  color: red;
}

#container main .orMsgList li .or_up .or_up_right .qty_price .goodsqty, #container main .orthers li .or_up .or_up_right .qty_price .goodsqty {
  position: absolute;
  right: -18px;
}

#container main .orMsgList li .or_down, #container main .orthers li .or_down {
  padding: 0 10px;
}

#container main .orMsgList li .or_down > p, #container main .orthers li .or_down > p {
  text-align: right;
  font-size: 14px;
  color: red;
  line-height: 30px;
}

#container main .orMsgList li .or_down .btn, #container main .orthers li .or_down .btn {
  text-align: right;
  padding-bottom: 10px;
}

#container main .orMsgList li .or_down .btn input, #container main .orthers li .or_down .btn input {
  color: #dbac72;
  box-sizing: border-box;
  width: 80px;
  height: 30px;
  font-size: 12px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
}

#container main .orMsgList li .or_down .btn #ordetails, #container main .orthers li .or_down .btn #ordetails {
  border: 0;
  background: #dbac72;
  color: #fff;
}

#container footer {
  height: 51px;
  background: #fff;
}

#container footer ul {
  height: 51px;
  display: flex;
  text-align: center;
  margin: 5px 0;
}

#container footer ul li {
  flex: 1;
}
